.dropdown1 {    
    background: no-repeat 95% center;
    /*background: lightgrey;*/
    width:220px;
    height: 25px;
    border: 1px solid #000; 
    overflow: hidden; 
    border-radius:5px;
    font-weight: bold;
    font-style: italic;
}
.dropdown1 select {
    border:0px; 
    width:168px; 
    background: none;
}

.dropdownWH {    
    background: white;
    width:180px;
    height: 25px;
    border: 1px solid #000; 
    overflow: hidden; 
    border-radius:5px;
    font-style: italic;
}
